@import '../variables';

.button {
  display: inline-block;
  background-color: $orange;
  border-radius: 30px;
  padding: 0 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  border: 1px solid transparent;
  font-weight: bold;
  @include noselect();

  &:hover {
    background-color: $orange;
  }

  &:active {
    background-color: darken($orange, 12%);
    transform: translateY(1px);
  }

  &--outline {
    background-color: #fff;
    border-color: $black;
    color: $orange;

    &:hover {
      background-color: $black;
      color: #fff;
    }

    &:active {
      background-color: darken($orange, 8%);
    }
  }

  &--add {
    svg {
      margin-right: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }

    &:hover {
      i {
        background-color: #fff;
        color: $orange;
      }
    }
  }
}

.go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  padding: 5px 0;
  margin: 10px 0;
  border-color: darken($color: $gray-line, $amount: 10);

  span {
    color: $gray;
    font-weight: 500;
    font-weight: 600;
  }

  &:hover {
    background-color: darken($color: $gray-line, $amount: 90);
    border-color: darken($color: $gray-line, $amount: 90);

    span {
      color: $gray-line;
    }
  }

  svg {
    margin-right: 12px;
    path {
      fill: transparent;
      stroke-width: 2;
    }
  }
}
